* {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  /* nav-bar */
  .nav {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff4b2b;
    margin-bottom: 10px;
  }
  
  .nav-logo {
    float: left;
    background-image: url(https://cdn.discordapp.com/attachments/890907677042049054/946800332359475252/cellphones-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .nav-list {
    float: right;
    margin-right: 20px;
  }
  
  .nav-list li {
    display: inline-block;
  }
  
  .nav-list li a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  ul {
    list-style-type: none;
  }
  li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  
    transition: color 0.3s ease;
    font-family: "Ubuntu", sans-serif;
    border: 2px none;
  }
  
  li a:hover {
    background-image: linear-gradient(#c04848, #480048);
  }
  /*<------------------------ Tablet ---------------------->*/
  
  @media (max-width: 61.25em) {
    .nav-list li {
      display: inline-block;
    }
  
    .nav-list li a {
      display: block;
      font-size: 15px;
      padding: 20px 10px;
    }
  }
  /* <--------------------- Phone ---------------------> */
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
    .nav-logo {
      float: left;
      background-image: url(https://cdn.discordapp.com/attachments/890907677042049054/946800332359475252/cellphones-logo.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 120px;
      height: 30px;
      margin-top: 10px;
      margin-left: 10px;
    }
    .nav-list {
      margin: 0 1rem;
    }
  
    .nav-list li {
      display: inline-block;
    }
  
    .nav-list a {
      display: block;
      font-size: 2.2rem;
      padding: 2rem;
    }
  }
  
  
  /* main-content */
  .container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    padding: 5px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 5px;
  }
  
  /* column1 */
  .column1-img-container {
    padding: 5px;
    display: flex;
    justify-content: center;
    height:fit-content;
  }
  
  .product-img {
    display: flex;
  }
  
  .buy-btn-container {
    padding: 5px;
    display: inline-block;
  }
  
  .buy-btn-container input {
    width: 250px;
    height: 60px;
    font-size: 25px;
    background-color: #ffdde1;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 60px;
  
  }
  
  .buy-btn-container input:hover {
    transition-duration: 0.2s;
    background-color: #ee9ca7;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .buy-btn-p {
    font-size: 20px;
    padding: 5px;
  }
  
  
  
  
  
  /* column2 */
  .name-container {
    text-align: center;
    padding: 5px;
  }
  
  .name-container h1:hover {
    color: red;
  }
  
  .color-container {
    display: flex;
    justify-content: space-around;
    padding: 5px;
  }
  
  .color-content {
    border: 2px solid black;
    border-radius: 15px;
    width: 100px;
    padding: 10px;
    text-align: center;
  }
  
  .color-content:hover {
    border-color: lightcoral;
    transition-duration: 0.4s;
  }
  
  .color-content a {
    font-size: 25px;
    color: black;
  }
  
  .color-container .gray:hover {
    color: gray;
    transition-duration: 0.4s;
  }
  
  .color-container .blue:hover {
    color: lightblue;
    transition-duration: 0.4s;
  }
  
  .color-container .red:hover {
    color: #DE3163;
    transition-duration: 0.4s;
  }
  
  .p {
    text-align: center;
    font-size: 35px;
    padding: 5px;
  }
  
  .p p:hover {
    color: red;
  }
  
  .capacity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }
  
  .capacity-a {
    border: 2px solid black;
    border-radius: 3px;
    font-size: 50px;
  }
  
  .capacity-a a {
    color: black;
  }
  
  .capacity-a a:hover {
    color: red;
    transition-duration: 0.4s;
  }
  
  .capacity-a:hover {
    border: 3px solid pink;
    border-radius: 3px;
    transition-duration: 0.4s;
  }
  
  .discount-container {
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
  }
  
  .discount-title {
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: antiquewhite;
    padding: 5px;
  }
  
  .discount-title h2 {
    text-align: center;
  }
  
  .discount-content-container {
    padding: 10px;
    font-size: 20px;
  }
  
  .discount-content-1 {
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .discount-content-2 {
    border: 1px solid black;
    border-radius: 3px;
    background-color: antiquewhite;
    padding: 5px;
  }
  
  .discount-content-container label {
    color: red;
    text-transform: capitalize;
  }