* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 5px;
}

/* column1 */
.column1-img-container {
  padding: 5px;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.buy-btn-container {
  padding: 5px;
  display: inline-block;
}

.buy-btn-container input {
  width: 250px;
  height: 60px;
  font-size: 25px;
  background-color: #ffdde1;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 60px;

}

.buy-btn-container input:hover {
  transition-duration: 0.2s;
  background-color: #ee9ca7;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.buy-btn-p {
  font-size: 20px;
  padding: 5px;
}





/* column2 */
.name-container {
  text-align: center;
  padding: 5px;
}

.name-container h1:hover {
  color: red;
}

.color-container {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.color-content {
  border: 2px solid black;
  border-radius: 15px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.color-content:hover {
  border-color: lightcoral;
  transition-duration: 0.4s;
}

.color-content a {
  font-size: 25px;
  color: black;
}

.color-container .gray:hover {
  color: gray;
  transition-duration: 0.4s;
}

.color-container .blue:hover {
  color: lightblue;
  transition-duration: 0.4s;
}

.color-container .red:hover {
  color: #DE3163;
  transition-duration: 0.4s;
}

.price-container {
  text-align: center;
  font-size: 35px;
  padding: 5px;
}

.price-container p:hover {
  color: red;
}

.capacity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.capacity-a {
  border: 2px solid black;
  border-radius: 3px;
  font-size: 50px;
}

.capacity-a a {
  color: black;
}

.capacity-a a:hover {
  color: red;
  transition-duration: 0.4s;
}

.capacity-a:hover {
  border: 3px solid pink;
  border-radius: 3px;
  transition-duration: 0.4s;
}

.discount-container {
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
}

.discount-title {
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: antiquewhite;
  padding: 5px;
}

.discount-title h2 {
  text-align: center;
}

.discount-content-container {
  padding: 10px;
  font-size: 20px;
}

.discount-content-1 {
  padding: 5px;
  margin-bottom: 5px;
}

.discount-content-2 {
  border: 1px solid black;
  border-radius: 3px;
  background-color: antiquewhite;
  padding: 5px;
}

.discount-content-container label {
  color: red;
  text-transform: capitalize;
}