@import url(nav.css);
@import url(welcome.css);
@import url(products.css);
@import url(contact.css);
* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
